@using GestionPapeleriaWebApp.Models;
@model UsuarioCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Usuario</h1>

@{
    var mensajeExito = TempData["Exito"] as string;
    var mensajeError = TempData["Error"] as string;
}

@if (!string.IsNullOrEmpty(mensajeExito))
{
    <div class="alert alert-success" role="alert">
        @mensajeExito
    </div>
}

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger" role="alert">
        @mensajeError
    </div>
}

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>